@import '~antd/es/style/themes/default.less';
@import '../../../styles/_variable.less';

.home-welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	text-align: center;

	h1 {
		font-weight: 300;
		font-size: 38px;

		@media (max-width: @screen-xs) {
			font-size: 26px;
		}
	}

	h2 {
		font-weight: 700;
		font-size: 20px;

		@media (max-width: @screen-xs) {
			font-size: 18px;
		}
	}
}

.card-thong-ke {
	.ant-card-body {
		height: 100%;
	}
}

.dashboard-card-with-icon {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	align-content: space-between;

	.ant-card {
		width: 100%;
		height: 100%;
		transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

		&:hover {
			transform: scale(1.05);
		}
	}

	.ant-card-body {
		display: flex;
		align-items: center;
		height: 100%;

		.anticon {
			margin-right: 16px;
			font-size: 2.5rem;
		}

		.number {
			font-weight: 600;
			font-size: 2rem;
			line-height: 1.4;
			text-shadow: 1px 1px 3px rgba(50, 50, 150, 0.2);
		}

		.text {
			color: #bababa;
			font-size: 0.75rem;
			line-height: 1.1;
		}
	}
}

@media (max-width: @screen-xs) {
	.dashboard-card-with-icon {
		.ant-card-body {
			flex-direction: column;
			text-align: center;

			.anticon {
				margin-right: 0;
				margin-bottom: 8px;
				font-size: 2rem;
			}
		}
	}
}
