.vbcc-verified {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.25rem;
	color: #059669;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.75rem;
	text-align: center;
}

.vbcc-signature {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	align-items: center;
	padding-top: 1.25rem;
	padding-bottom: 0.75rem;
}

.vbcc-urlIpfs {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}