.form-item-container {
  width: 86%;
  margin-left: 70px;
}

.add-column-button {
  width: 95%;
  margin-right: 30px;
}

.element-row {
  .drag-handle {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    cursor: grab;
  }

  .delete-button-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}